* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #FF99FF;
    padding: 10px;
    text-align: center;
}
h2{
    text-align: center;
    color: #ffc107;
}
